body {
  min-width: 1400px;
}

a,button {
  color: #000;
  text-decoration: none;
  transition: opacity .3s ease;
}

a:hover,button:hover {
  opacity: 0.7;
}

input,
textarea {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

textarea {
  min-height: 240px;
}


.header {
  background-color: #000;
  color: #fff;
  padding-block: 15px;
  min-width: 1400px;
  height: 80px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-inline: 40px;
  height: 100%;
}

.header-logo,
.header-nav {
  flex: 1;
}

.header-logo__link {
  display: inline-block;
}

.header-search {
  justify-self: center;
  margin-inline: auto;
}
.header-search input {
  width: 500px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  list-style: none;
  font-size: 24px;
}

.header-nav__logout,
.header-nav__link {
  color: #fff;
}

.header-nav__link--sell {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: 5px 10px 10px;
  text-align: center;
  width: 100px;
}


.section {
  margin-inline: auto;
  width: 1400px;
}

.section--narrow {
  width: 680px;
}

.section__inner {
  padding-block: 60px;
}

.heading--primary {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}


.form__status {
  background-color: #d1e7dd;
  color: #0f5132;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
}

.form__group {
  margin-top: 35px;
}

.form__group label {
  font-size: 24px;
  font-weight: 700;
}

.form__group input,
.form__group textarea {
  border: 1px solid #5F5F5F;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.form__button {
  margin-top: 80px;
}
.form__button--comment {
  margin-top: 50px;
}

.form__button-submit {
  background-color: #ff5555;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 14px;
  text-align: center;
  width: 100%;
}

.form__error {
  color: #ff0000;
}

.form__profile {
  display: grid;
  align-items: center;
  grid-template-columns: 150px auto;
  gap: 40px;
}

.form__profile-img {
  background-color: #D9D9D9;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.form__profile-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.form__profile-button {
  cursor: pointer;
  border: 2px solid #FF5555;
  border-radius: 5px;
  color: #FF5555;
  font-size: 20px;
  padding: 16px 8px;
  transition: background-color .3s ease, color .3s ease;
  width: fit-content;
}
.form__profile-button:hover {
  background-color: #FF5555;
  color: #fff;
}

.form__profile-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

.tabs {
  border-bottom: 2px solid #5F5F5F;
  color: #5F5F5F;
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.tab-item.is-active {
  pointer-events: none;
  color: #FF0000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 72px;
  list-style: none;
  margin-inline: auto;
  margin-bottom: 60px;
  width: calc(100% - 140px);
  max-width: 1380px;
}

.product-list__link {
  aspect-ratio: 1/1;
  display: block;
  width: 100%;
}

.product-list__link img {
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.product-list__img {
  position: relative;
}

.product-list__sold {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  inset: 0;
}

.product-list__name {
  font-size: 25px;
  margin-top: 1px;
}

.product-list__empty {
  font-size: 24px;
  margin-top: 6px;
  text-align: center;
}
