a,button {
  color: #000;
  text-decoration: none;
  transition: opacity .3s ease;
}

a:hover,button:hover {
  opacity: 0.7;
}

input {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}


.header {
  background-color: #000;
  color: #fff;
  padding-block: 15px;
  min-width: 1400px;
  height: 80px;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 40px;
  height: 100%;
}

.header-logo__link {
  display: inline-block;
}

.header-search {
  margin-inline: auto;
}
.header-search input {
  width: 500px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  list-style: none;
  font-size: 24px;
}

.header-nav__logout,
.header-nav__link {
  color: #fff;
}

.header-nav__link--sell {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: 5px 10px 10px;
  text-align: center;
  width: 100px;
}


.section {
  margin-inline: auto;
  width: 1400px;
}

.section--narrow {
  width: 680px;
}

.section__inner {
  padding-block: 60px;
}

.heading--primary {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}


.auth-form__group {
  margin-top: 35px;
}

.auth-form__group label {
  font-size: 24px;
  font-weight: 700;
}

.auth-form__group input {
  border: 1px solid #5F5F5F;
  border-radius: 5px;
  width: 100%;
}

.auth-form__button {
  margin-top: 80px;
}

.auth-form__button-submit {
  background-color: #ff5555;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 14px;
  text-align: center;
  width: 100%;
}

.auth-form__error {
  color: #ff0000;
}
