.product__content {
  margin-inline: auto;
  width: min(1280px, 100%);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 72px;
  list-style: none;
}

.product-list__item {
}

.product-list__link {
  aspect-ratio: 1/1;
  display: block;
  width: 100%;
}

.product-list__link img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
