.purchase-form {
  display: grid;
  grid-template-columns: 1fr 32%;
  align-items: start;
  gap: 100px;
  margin: 80px auto;
  width: calc(100% - 140px);
  max-width: 1380px;
}

.purchase-product {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: 178px 1fr;
  align-items: start;
  gap: 55px;
  padding-bottom: 60px;
}

.purchase-product__img {
  width: 178px;
  height: 178px;
}

.purchase-product__img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.purchase-product__name {
  font-size: 30px;
  font-weight: 700;
}

.purchase-product__price {
  font-size: 30px;
  margin-top: 10px;
}

.purchase-product__currency {
  font-size: 20px;
}

.purchase-payment,
.purchase-address {
  border-bottom: 1px solid #000;
  display: grid;
  margin-top: 3%;
  padding: 0 35px 60px;
}

.purchase-section__heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.purchase-payment__select {
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 60px;
  position: relative;
  width: 270px;
}
.purchase-payment__select::after {
  pointer-events: none;
  content: '';
  background-color: #5F5F5F;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  margin: auto;
  position: absolute;
  inset: 0 10px 0 auto;
  width: 12px;
  height: 9px;
}

.purchase-payment__select select {
  padding: 5px;
  width: 100%;
}

.purchase-address {
  display: grid;
  grid-template-columns: 1fr auto;
}

.purchase-address__edit {
  color: #0073CC;
  font-size: 20px;
}

.purchase-address__content {
  font-size: 20px;
  font-weight: 700;
  margin-left: 60px;
}

.purchase-table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}
.purchase-table th,
.purchase-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
.purchase-table tr:not(:last-child) th,
.purchase-table tr:not(:last-child) td {
  border-bottom: 1px solid #000;
}
.purchase-table th {
  font-size: 20px;
  font-weight: 400;
}
.purchase-table td {
  font-size: 24px;
}
.purchase-table__currency {
  font-size:  20px;
}

.purchase-form__button {
  margin-top: 60px;
}

.purchase-form__button-submit {
  background-color: #ff5555;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  width: 100%;
}
