.show-detail {
  display: grid;
  align-items: start;
  grid-template-columns: 44% 1fr;
  gap: 110px;
  margin: 100px auto;
  width: calc(100% - 140px);
  max-width: 1380px;
}

.show-detail__img img {
  border-radius: 5px;
  object-fit: contain;
  object-position: top center;
  width: 100%;
  height: 100%;
}

.show-name {
  font-size: 45px;
  font-weight: 700;
}

.show-brand {
  font-size: 20px;
  margin-bottom: 20px;
}

.show-price {
  font-size: 20px;
}

.show-price__amount {
  font-size: 30px;
}

.show-icons {
  list-style: none;
  display: flex;
  margin-top: 30px;
}

.show-icons__item {
  display: grid;
  justify-items: center;
  padding-inline: 20px;
}

.show-icons__icon {
  width: 40px;
  height: 40px;
}
.show-icons__icon img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.show-icons__num {
  font-size: 18px;
}

.show-purchase {
  background-color: #FF5555;
  border-radius: 5px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  height: 56px;
}
.show-purchase.is-sold {
  background-color: #5F5F5F;
}

.show-section {
  margin-top: 40px;
}

.show-section__heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}
.show-section__heading--comment {
  color: #5F5F5F;
}

.show-description {
  font-size: 24px;
}

.show-info {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 1fr;
  gap: 16px 20px;
}

.show-info__heading {
  font-size: 24px;
  font-weight: 700;
}

.show-info__detail {
  font-size: 20px;
}

.show-category {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.show-category__item {
  border-radius: 100vmax;
  background-color: #D9D9D9;
  font-size: 20px;
  padding: 1px 20px 2px;
  text-align: center;
  min-width: 102px;
}

.show-comment + .show-comment {
  margin-top: 20px;
}

.show-comment__user {
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr;
  gap: 18px;
}

.show-comment__user-img {
  background-color: #D9D9D9;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
}
.show-comment__user-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.show-comment__user-name {
  font-size: 30px;
  font-weight: 700;
}

.show-comment__box {
  background-color: #E5E5E5;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px;
}
